@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@1,400..700&family=Beth+Ellen&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-green: #C4CB20;
  --color-cream: #f4f0e7;
  --color-white: #ffffff;
  --color-black: #161616;

  --page-max-width: 480px;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  --baskervville: 'Baskervville', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;

  font-family: Arial, sans-serif;

  color: #1a1a1a;
  background: #eeeeee;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* HERO */

/* CONTADOR */
#contador {
  background-color: var(--color-green);
}

/* NUESTRO AMOR */
#nuestroamor {
  display: flex;
  flex-direction: column;
  max-width: 62%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--baskervville);
  color: #767676;
  font-size: 12px;
  font-weight: 500;
}

#nuestroamor span {
  font-weight: 700;
}

/* FOOTER */
footer {
  display: flex;
  max-width: 95%;
  margin: 0 auto;
  justify-content: center;
}